a {
    text-decoration: none;
    color: #000;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .title {
    width: 100%;
  }
  
  .card {
    width: 450px;
    height: 250px;
    background: rgb(34,75,107);
    background: linear-gradient(90deg, rgba(34,75,107,1) 0%, rgb(225, 225, 225) 100%);
    margin: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h2 {
    text-align: center;
  }
  
  .card__brand {
    width: 150px;
    height: 80px;
    align-self: flex-end;
  } 
  
  .card__chip {
    width: 50px;
    margin-left: 30px;
  }
  
  .card__id {
    font-size: 30px;
    text-align: center;
  }
  
  .card__info {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  .card-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 450px;
  }
  
  .card-form label {
    font-size: 20px;  
  }
  
  .card-form input {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .card-form__number {
    display: flex;
    justify-content: space-between;
  }
  
  .card-form__number input {
    width: 60px;
  }
  
  .add-btn {
    width: 450px;
    height: 250px;
    background: #ccc;
    margin: 2rem;
    border-radius: 10px;
    font-size: 150px;
    position: relative;
    border: none;
  }
  
  .cross {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .cross:after {
    width: 72px;
    height: 16px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
  
  .cross:before {
    width: 16px;
    height: 72px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
  
  .add-btn:after, .add-btn:before {
    content: '';
    position: absolute;
    background: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }